<p>movie-details works!</p>


<p *ngIf="!movie"><em>Loading ...</em></p>

<a [routerLink]="['/movie']" routerLinkActive="active">Back</a>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="movie">
    <tbody>
        <tr>
            <th>Title</th>
            <td>{{ movie.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ movie.description }}</td>
        </tr>
        <tr>
            <th>Genre</th>
            <td>{{ movie.genre }}</td>
        </tr>

        <tr>
            <th>Duration minutes</th>
            <td>{{ movie.minute }}</td>
        </tr>

        <tr>
            <th>Year of Release</th>
            <td>{{ movie.yearOfRelease }}</td>
        </tr>

        <tr>
            <th>Director</th>
            <td>{{ movie.director }}</td>
        </tr>

        <tr>
            <th>DateAdded</th>
            <td>{{ movie.dateAdded }}</td>
        </tr>

        <tr>
            <th>Rating</th>
            <td>{{ movie.rating }}</td>
        </tr>

        <tr>
            <th>Watched</th>
            <td>{{ movie.watched }}</td>
        </tr>
    </tbody>
</table>

<th>Comments</th>
<table style="width:100%" *ngIf="movie">
    <thead>
        <tr>
            <th style="width:30%">Content</th>
            <th style="width:30%">Author</th>
            <th style="width:30%">Important</th>
        </tr>
    </thead>
    <tr *ngFor="let comment of movie.comments">
        <td style="width:30%">{{ comment.content }}</td>
        <td style="width:30%">{{ comment.author }}</td>
        <td style="width:30%">{{ comment.important}}</td>
    </tr>
</table>
<a [routerLink]="['/movie']" routerLinkActive="active">Back</a>


