<h1 id="tableLabel">COMMENTS</h1>

<p>This is our Comments Board.</p>

<p *ngIf="!comments"><em>Loading...</em></p>



<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="comments">
    <thead>
        <tr>
            <th>Author</th>
            <th>Content</th>
            <th>Important</th>
            <th>For Movie</th>
            <th>Operations</th>

        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let comment of comments">
            <td>{{ comment.author }}</td>
            <td>{{ comment.content }}</td>
            <td>{{ comment.important }}</td>
            <td>{{ comment.movieid }}</td>
            <td>
                <button class="btn btn-primary" [routerLink]="['/comment', comment.id]" routerLinkActive="active">Details</button> |
                <button class="btn btn-warning" [routerLink]="['/comment-add', comment.id]">Edit</button> |
                <button class="btn btn-danger" (click)=" delete(comment.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<td><a class="btn btn-success" [routerLink]="['/comment-add/0']">Add comment</a></td>





