<h1 id="tableLabel">MOVIES</h1>

<p>This is our Movies Board.</p>

<p *ngIf="!movies"><em>Loading...</em></p>


<table style="width:100%" class='table table-striped' aria-labelledby="tableLabel" *ngIf="movies">
    <thead>
        <tr>
            <th style="width:10%">Title</th>
            <th style="width:10%">Description</th>
            <th style="width:10%">Genre</th>
            <th style="width:10%">Duration minutes</th>
            <th style="width:10%">Year of Release</th>
            <th style="width:10%">Director</th>
            <th style="width:10%">No of Comments</th>
            <th style="width:30%">Operations</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies">
            <td>{{ movie.title }}</td>
            <td>{{ movie.description }}</td>
            <td>{{ movie.genre }}</td>
            <td>{{ movie.minute }}</td>
            <td>{{ movie.yearOfRelease }}</td>
            <td>{{ movie.director }}</td>
            <td>{{ movie.numberOfComments }}</td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/movie', movie.id]" routerLinkActive="active">Details</a> |
                <a class="btn btn-warning">Edit</a> |
                <a class="btn btn-danger" (click)=" delete(movie.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

<td><a class="btn btn-success" [routerLink]="['/movie-add/0']">Add movie</a></td>



<!--<input [(ngModel)]="name" />

<p>{{name}}</p>



<button (click)="submit()">Submit!</button>
-->
